In [179]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [180]:
df_bidhan = pd.read_csv("../data/durgapur_bidhannagar_final.csv")
df_bidhan["datetime"] = pd.to_datetime(df_bidhan["datetime"])
df_bidhan

,datetime,lat,long,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,2025-02-11 05:30:00,23.515,87.35,74.349884,79.288000,48.6,913.0,29.6,6.0,16.35,2.577208,73.974770,148
1,2025-02-11 06:30:00,23.515,87.35,75.578953,80.520000,44.5,962.0,36.0,14.0,17.30,3.545589,65.182610,152
2,2025-02-11 07:30:00,23.515,87.35,74.356785,78.672005,38.6,1019.0,44.8,27.0,18.90,4.913044,57.017426,148
3,2025-02-11 08:30:00,23.515,87.35,63.027365,66.352000,33.0,999.0,52.0,46.0,22.30,3.572898,46.393030,110
4,2025-02-11 09:30:00,23.515,87.35,48.305217,53.680000,28.0,828.0,56.6,79.0,25.75,3.550155,36.347910,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,2026-02-11 14:30:00,23.515,87.35,23.726202,29.480000,9.9,308.0,32.2,151.0,29.85,4.379589,20.249832,175
8770,2026-02-11 15:30:00,23.515,87.35,23.948549,28.248000,13.5,339.0,32.0,143.0,29.75,4.143911,20.154370,163
8771,2026-02-11 16:30:00,23.515,87.35,24.009690,28.071999,19.0,395.0,32.7,132.0,29.10,4.379589,20.706232,147
8772,2026-02-11 17:30:00,23.515,87.35,30.090394,35.200000,25.3,484.0,33.9,118.0,26.50,2.700000,26.567888,126
8773,2026-02-11 18:30:00,23.515,87.35,42.029248,47.256000,33.9,657.0,36.3,101.0,24.65,3.284691,29.549685,101

In [181]:
df_chandidas = pd.read_csv("../data/durgapur_chandidas_market_final.csv")
df_chandidas["datetime"] = pd.to_datetime(df_chandidas["datetime"])
df_chandidas

,datetime,lat,long,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,2025-02-11 05:30:00,23.563,87.312,97.034721,103.615000,48.6,1237.20010,29.6,6.0,16.55,2.099143,65.237175,223
1,2025-02-11 06:30:00,23.563,87.312,99.120520,105.225000,44.5,1146.00000,36.0,14.0,16.10,4.217535,65.577740,230
2,2025-02-11 07:30:00,23.563,87.312,97.428866,102.810000,38.6,972.00006,44.8,27.0,18.70,5.342696,56.398476,225
3,2025-02-11 08:30:00,23.563,87.312,82.182985,86.710000,33.0,807.60004,52.0,46.0,22.25,3.710795,46.689972,174
4,2025-02-11 09:30:00,23.563,87.312,63.994194,70.150000,28.0,673.20000,56.6,79.0,25.55,3.494968,36.781822,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,2026-02-11 14:30:00,23.563,87.312,32.073534,38.524998,9.9,368.40002,32.2,151.0,29.55,4.599695,22.239864,175
8770,2026-02-11 15:30:00,23.563,87.312,30.639754,36.914997,13.5,399.60000,32.0,143.0,29.45,4.553680,22.060770,163
8771,2026-02-11 16:30:00,23.563,87.312,30.687809,36.684998,19.0,456.00003,32.7,132.0,28.65,4.024922,23.590862,147
8772,2026-02-11 17:30:00,23.563,87.312,39.886811,46.000000,25.3,548.40000,33.9,118.0,25.55,1.698117,32.460670,126
8773,2026-02-11 18:30:00,23.563,87.312,55.044497,61.755000,33.9,732.00000,36.3,101.0,23.90,2.167487,36.191006,101

In [182]:
df_city = pd.read_csv("../data/durgapur_city_centre_final.csv")
df_city["datetime"] = pd.to_datetime(df_city["datetime"])
df_city

,datetime,lat,long,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,2025-02-11 05:30:00,23.533,87.295,88.490583,94.604996,48.6,1287.00000,29.6,6.0,15.75,3.107282,72.413430,195
1,2025-02-11 06:30:00,23.533,87.295,90.330359,96.075000,44.5,1298.00000,36.0,14.0,16.20,3.644722,69.663860,201
2,2025-02-11 07:30:00,23.533,87.295,89.723506,93.869995,38.6,1239.70010,44.8,27.0,18.45,5.247857,60.431080,199
3,2025-02-11 08:30:00,23.533,87.295,75.557345,79.170000,33.0,1124.20010,52.0,46.0,21.85,3.826853,50.290730,152
4,2025-02-11 09:30:00,23.533,87.295,59.005611,64.049995,28.0,914.10004,56.6,79.0,25.35,3.494968,39.135643,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,2026-02-11 14:30:00,23.533,87.295,29.685890,35.175000,9.9,330.00000,32.2,151.0,29.85,7.040739,20.822416,175
8770,2026-02-11 15:30:00,23.533,87.295,26.792964,33.704998,13.5,345.40000,32.0,143.0,29.65,7.841888,20.412912,163
8771,2026-02-11 16:30:00,23.533,87.295,26.830237,33.495000,19.0,385.00000,32.7,132.0,28.80,9.178235,22.047096,147
8772,2026-02-11 17:30:00,23.533,87.295,36.807571,42.000000,25.3,487.30002,33.9,118.0,26.65,8.938590,27.259382,126
8773,2026-02-11 18:30:00,23.533,87.295,50.449457,56.385000,33.9,740.30000,36.3,101.0,24.75,7.093462,31.905504,101

In [183]:
df_dsp = pd.read_csv("../data/durgapur_dsp_area_final.csv")
df_dsp["datetime"] = pd.to_datetime(df_dsp["datetime"])
df_dsp

,datetime,lat,long,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,2025-02-11 05:30:00,23.55,87.27,103.189975,109.922000,48.6,1031.0,39.960003,6.0,15.75,3.107282,72.413430,244
1,2025-02-11 06:30:00,23.55,87.27,104.451827,111.630005,44.5,955.0,48.600002,14.0,16.20,3.644722,69.663860,248
2,2025-02-11 07:30:00,23.55,87.27,102.944957,109.068000,38.6,810.0,60.480000,27.0,18.45,5.247857,60.431080,243
3,2025-02-11 08:30:00,23.55,87.27,86.067215,91.988010,33.0,673.0,70.200005,46.0,21.85,3.826853,50.290730,187
4,2025-02-11 09:30:00,23.55,87.27,67.693148,74.420000,28.0,561.0,76.409996,79.0,25.35,3.494968,39.135643,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,2026-02-11 14:30:00,23.55,87.27,33.983185,40.870003,9.9,307.0,43.470000,151.0,29.85,7.040739,20.822416,175
8770,2026-02-11 15:30:00,23.55,87.27,31.719274,39.162000,13.5,333.0,43.200000,143.0,29.65,7.841888,20.412912,163
8771,2026-02-11 16:30:00,23.55,87.27,31.571666,38.918000,19.0,380.0,44.145000,132.0,28.80,9.178235,22.047096,147
8772,2026-02-11 17:30:00,23.55,87.27,42.161110,48.800003,25.3,457.0,45.765003,118.0,26.65,8.938590,27.259382,126
8773,2026-02-11 18:30:00,23.55,87.27,59.063044,65.514000,33.9,610.0,49.005000,101.0,24.75,7.093462,31.905504,101

In [184]:
for df in [df_bidhan, df_chandidas, df_city, df_dsp]:
    print(df.info())
    print(df.describe())
    print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8774 entries, 0 to 8773
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  8774 non-null   datetime64[ns]
 1   lat       8774 non-null   float64
 2   long      8774 non-null   float64
 3   pm2_5     8774 non-null   float64
 4   pm10      8774 non-null   float64
 5   no2       8774 non-null   float64
 6   co        8774 non-null   float64
 7   so2       8774 non-null   float64
 8   o3        8774 non-null   float64
 9   temp_c    8774 non-null   float64
 10  wind      8774 non-null   float64
 11  humidity  8774 non-null   float64
 12  AQI       8774 non-null   int64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 891.2 KB
None
                  datetime           lat          long        pm2_5  \
count                 8774  8.774000e+03  8.774000e+03  8774.000000
mean   2025-08-13 00:00:00  2.351500e+01  8.735000e+01    51.747717
min    2025-02-11 05:30:00  2.351500e+01  8.735000e+01     5.789678
25%    2025-05-13 14:45:00  2.351500e+01  8.735000e+01    31.027426
50%    2025-08-13 00:00:00  2.351500e+01  8.735000e+01    48.399633
75%    2025-11-12 09:15:00  2.351500e+01  8.735000e+01    67.348452
max    2026-02-11 18:30:00  2.351500e+01  8.735000e+01   189.269198
std                    NaN  3.552916e-15  2.842333e-14    27.280015

              pm10          no2           co          so2           o3  \
count  8774.000000  8774.000000  8774.000000  8774.000000  8774.000000
mean     58.039470    24.528972   522.678254    42.382517    88.200707
min       5.896000     1.900000   132.000000    12.400000     0.000000
25%      34.496002    15.700000   340.000000    29.200000    52.000000
50%      54.120000    22.500000   466.000000    37.300000    76.000000
75%      75.768000    31.200000   645.000000    50.600000   119.000000
max     345.048000    77.500000  2279.000000   154.700000   319.000000
std      31.877299    11.800788   251.374355    18.253280    50.978770

            temp_c         wind     humidity          AQI
count  8774.000000  8774.000000  8774.000000  8774.000000
mean     25.961414     7.679422    69.742181   133.787326
min       9.550000     0.000000     9.454672    25.000000
25%      23.450000     5.269422    53.556616    78.000000
50%      26.450000     7.555712    74.102695   116.000000
75%      29.150000     9.676570    89.136053   176.000000
max      42.000000    25.537172   100.000000   353.000000
std       5.332120     3.461746    22.165438    71.010809
datetime    0
lat         0
long        0
pm2_5       0
pm10        0
no2         0
co          0
so2         0
o3          0
temp_c      0
wind        0
humidity    0
AQI         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8774 entries, 0 to 8773
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  8774 non-null   datetime64[ns]
 1   lat       8774 non-null   float64
 2   long      8774 non-null   float64
 3   pm2_5     8774 non-null   float64
 4   pm10      8774 non-null   float64
 5   no2       8774 non-null   float64
 6   co        8774 non-null   float64
 7   so2       8774 non-null   float64
 8   o3        8774 non-null   float64
 9   temp_c    8774 non-null   float64
 10  wind      8774 non-null   float64
 11  humidity  8774 non-null   float64
 12  AQI       8774 non-null   int64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 891.2 KB
None
                  datetime           lat          long        pm2_5  \
count                 8774  8.774000e+03  8.774000e+03  8774.000000
mean   2025-08-13 00:00:00  2.356300e+01  8.731200e+01    67.631071
min    2025-02-11 05:30:00  2.356300e+01  8.731200e+01     7.672631
25%    2025-05-13 14:45:00  2.356300e+01  8.731200e+01    40.552100
50%    2025-08-13 00:00:00  2.356300e+01  8.731200e+01    63.338473
75%    2025-11-12 09:15:00  2.356300e+01  8.731200e+01    88.042136
max    2026-02-11 18:30:00  2.356300e+01  8.731200e+01   247.751269
std                    NaN  3.552916e-15  1.421166e-14    35.642757

              pm10          no2           co          so2           o3  \
count  8774.000000  8774.000000  8774.000000  8774.000000  8774.000000
mean     75.847034    24.528972   611.122517    42.382517    88.200707
min       7.704999     1.900000   184.800000    12.400000     0.000000
25%      45.080000    15.700000   409.200000    29.200000    52.000000
50%      70.725000    22.500000   550.800050    37.300000    76.000000
75%      99.015000    31.200000   748.800050    50.600000   119.000000
max     450.915000    77.500000  2809.200200   154.700000   319.000000
std      41.657834    11.800788   278.504242    18.253280    50.978770

            temp_c         wind     humidity          AQI
count  8774.000000  8774.000000  8774.000000  8774.000000
mean     25.801727     7.248267    69.985206   161.226465
min       8.750000     0.000000     7.892405    25.000000
25%      23.062500     4.896529    54.580455    89.000000
50%      26.400000     6.877789    74.311460   150.000000
75%      29.300000     9.224011    88.922495   216.000000
max      42.050000    25.908121   100.000000   404.000000
std       5.656617     3.520705    21.891442    83.438733
datetime    0
lat         0
long        0
pm2_5       0
pm10        0
no2         0
co          0
so2         0
o3          0
temp_c      0
wind        0
humidity    0
AQI         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8774 entries, 0 to 8773
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  8774 non-null   datetime64[ns]
 1   lat       8774 non-null   float64
 2   long      8774 non-null   float64
 3   pm2_5     8774 non-null   float64
 4   pm10      8774 non-null   float64
 5   no2       8774 non-null   float64
 6   co        8774 non-null   float64
 7   so2       8774 non-null   float64
 8   o3        8774 non-null   float64
 9   temp_c    8774 non-null   float64
 10  wind      8774 non-null   float64
 11  humidity  8774 non-null   float64
 12  AQI       8774 non-null   int64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 891.2 KB
None
                  datetime       lat          long        pm2_5         pm10  \
count                 8774  8774.000  8.774000e+03  8774.000000  8774.000000
mean   2025-08-13 00:00:00    23.533  8.729500e+01    61.753989    69.251638
min    2025-02-11 05:30:00    23.533  8.729500e+01     6.297804     7.034999
25%    2025-05-13 14:45:00    23.533  8.729500e+01    37.110056    41.160000
50%    2025-08-13 00:00:00    23.533  8.729500e+01    57.843687    64.575000
75%    2025-11-12 09:15:00    23.533  8.729500e+01    80.322826    90.404990
max    2026-02-11 18:30:00    23.533  8.729500e+01   225.805993   411.705000
std                    NaN     0.000  1.421166e-14    32.545249    38.035412

               no2           co          so2           o3       temp_c  \
count  8774.000000  8774.000000  8774.000000  8774.000000  8774.000000
mean     24.528972   604.382560    42.382517    88.200707    25.987167
min       1.900000   134.200000    12.400000     0.000000     9.300000
25%      15.700000   388.300020    29.200000    52.000000    23.350000
50%      22.500000   542.300000    37.300000    76.000000    26.450000
75%      31.200000   752.400000    50.600000   119.000000    29.350000
max      77.500000  2794.000000   154.700000   319.000000    42.550000
std      11.800788   292.976684    18.253280    50.978770     5.486024

              wind     humidity          AQI
count  8774.000000  8774.000000  8774.000000
mean      7.314908    68.783509   150.693640
min       0.000000     8.042208    25.000000
25%       4.846648    51.283857    85.000000
50%       7.022307    72.823022   138.000000
75%       9.340941    88.798330   199.000000
max      24.728226   100.000000   381.000000
std       3.559921    22.597043    78.834789
datetime    0
lat         0
long        0
pm2_5       0
pm10        0
no2         0
co          0
so2         0
o3          0
temp_c      0
wind        0
humidity    0
AQI         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8774 entries, 0 to 8773
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  8774 non-null   datetime64[ns]
 1   lat       8774 non-null   float64
 2   long      8774 non-null   float64
 3   pm2_5     8774 non-null   float64
 4   pm10      8774 non-null   float64
 5   no2       8774 non-null   float64
 6   co        8774 non-null   float64
 7   so2       8774 non-null   float64
 8   o3        8774 non-null   float64
 9   temp_c    8774 non-null   float64
 10  wind      8774 non-null   float64
 11  humidity  8774 non-null   float64
 12  AQI       8774 non-null   int64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 891.2 KB
None
                  datetime      lat          long        pm2_5         pm10  \
count                 8774  8774.00  8.774000e+03  8774.000000  8774.000000
mean   2025-08-13 00:00:00    23.55  8.727000e+01    71.751219    80.463812
min    2025-02-11 05:30:00    23.55  8.727000e+01     7.817326     8.174000
25%    2025-05-13 14:45:00    23.55  8.727000e+01    43.069154    47.824000
50%    2025-08-13 00:00:00    23.55  8.727000e+01    67.179369    75.030000
75%    2025-11-12 09:15:00    23.55  8.727000e+01    93.399367   105.042000
max    2026-02-11 18:30:00    23.55  8.727000e+01   263.353327   478.362030
std                    NaN     0.00  1.421166e-14    37.816190    44.193529

               no2           co          so2           o3       temp_c  \
count  8774.000000  8774.000000  8774.000000  8774.000000  8774.000000
mean     24.528972   509.268749    57.216398    88.200707    25.987167
min       1.900000   154.000000    16.740000     0.000000     9.300000
25%      15.700000   341.000000    39.420002    52.000000    23.350000
50%      22.500000   459.000000    50.355000    76.000000    26.450000
75%      31.200000   624.000000    68.310000   119.000000    29.350000
max      77.500000  2341.000000   208.845000   319.000000    42.550000
std      11.800788   232.086860    24.641928    50.978770     5.486024

              wind     humidity          AQI
count  8774.000000  8774.000000  8774.000000
mean      7.314908    68.783509   169.919763
min       0.000000     8.042208    30.000000
25%       4.846648    51.283857    95.000000
50%       7.022307    72.823022   158.000000
75%       9.340941    88.798330   230.000000
max      24.728226   100.000000   408.000000
std       3.559921    22.597043    85.148533
datetime    0
lat         0
long        0
pm2_5       0
pm10        0
no2         0
co          0
so2         0
o3          0
temp_c      0
wind        0
humidity    0
AQI         0
dtype: int64

In [189]:
df_cols = {
    0: df_bidhan,
    1: df_chandidas,
    2: df_city,
    3: df_dsp
}
df_list = []
for station_id, df in df_cols.items():
    df = df.copy()
    df.insert(df.columns.get_loc("datetime") + 1, "station_id", station_id)
    df.drop(columns=["lat","long"], inplace=True)
    df_list.append(df)

df_list[0]

,datetime,station_id,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,2025-02-11 05:30:00,0,74.349884,79.288000,48.6,913.0,29.6,6.0,16.35,2.577208,73.974770,148
1,2025-02-11 06:30:00,0,75.578953,80.520000,44.5,962.0,36.0,14.0,17.30,3.545589,65.182610,152
2,2025-02-11 07:30:00,0,74.356785,78.672005,38.6,1019.0,44.8,27.0,18.90,4.913044,57.017426,148
3,2025-02-11 08:30:00,0,63.027365,66.352000,33.0,999.0,52.0,46.0,22.30,3.572898,46.393030,110
4,2025-02-11 09:30:00,0,48.305217,53.680000,28.0,828.0,56.6,79.0,25.75,3.550155,36.347910,81
...,...,...,...,...,...,...,...,...,...,...,...,...
8769,2026-02-11 14:30:00,0,23.726202,29.480000,9.9,308.0,32.2,151.0,29.85,4.379589,20.249832,175
8770,2026-02-11 15:30:00,0,23.948549,28.248000,13.5,339.0,32.0,143.0,29.75,4.143911,20.154370,163
8771,2026-02-11 16:30:00,0,24.009690,28.071999,19.0,395.0,32.7,132.0,29.10,4.379589,20.706232,147
8772,2026-02-11 17:30:00,0,30.090394,35.200000,25.3,484.0,33.9,118.0,26.50,2.700000,26.567888,126
8773,2026-02-11 18:30:00,0,42.029248,47.256000,33.9,657.0,36.3,101.0,24.65,3.284691,29.549685,101

In [197]:
df_list_sorted = [df.sort_values("datetime") for df in df_list]
final_df = pd.concat(df_list_sorted, ignore_index=True)
final_df

,datetime,station_id,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,2025-02-11 05:30:00,0,74.349884,79.288000,48.6,913.0,29.600000,6.0,16.35,2.577208,73.974770,148
1,2025-02-11 06:30:00,0,75.578953,80.520000,44.5,962.0,36.000000,14.0,17.30,3.545589,65.182610,152
2,2025-02-11 07:30:00,0,74.356785,78.672005,38.6,1019.0,44.800000,27.0,18.90,4.913044,57.017426,148
3,2025-02-11 08:30:00,0,63.027365,66.352000,33.0,999.0,52.000000,46.0,22.30,3.572898,46.393030,110
4,2025-02-11 09:30:00,0,48.305217,53.680000,28.0,828.0,56.600000,79.0,25.75,3.550155,36.347910,81
...,...,...,...,...,...,...,...,...,...,...,...,...
35091,2026-02-11 14:30:00,3,33.983185,40.870003,9.9,307.0,43.470000,151.0,29.85,7.040739,20.822416,175
35092,2026-02-11 15:30:00,3,31.719274,39.162000,13.5,333.0,43.200000,143.0,29.65,7.841888,20.412912,163
35093,2026-02-11 16:30:00,3,31.571666,38.918000,19.0,380.0,44.145000,132.0,28.80,9.178235,22.047096,147
35094,2026-02-11 17:30:00,3,42.161110,48.800003,25.3,457.0,45.765003,118.0,26.65,8.938590,27.259382,126
35095,2026-02-11 18:30:00,3,59.063044,65.514000,33.9,610.0,49.005000,101.0,24.75,7.093462,31.905504,101

In [198]:
idx = final_df.columns.get_loc("datetime")


h = final_df['datetime'].dt.hour
d = final_df['datetime'].dt.dayofyear
m = final_df['datetime'].dt.month


final_df.insert(idx + 1, "hour_sin",  np.sin(2 * np.pi * h / 24))
final_df.insert(idx + 2, "hour_cos",  np.cos(2 * np.pi * h / 24))
final_df.insert(idx + 3, "date_sin",  np.sin(2 * np.pi * d / 31))
final_df.insert(idx + 4, "date_cos",  np.cos(2 * np.pi * d / 31))
final_df.insert(idx + 5, "month_sin", np.sin(2 * np.pi * m / 12))
final_df.insert(idx + 6, "month_cos", np.cos(2 * np.pi * m / 12))
final_df.insert(idx + 7, "year",      final_df['datetime'].dt.year)

sid = final_df.pop("station_id")
final_df.insert(idx + 8, "station_id", sid)

final_df.drop(columns=["datetime"], inplace=True)

final_df

,hour_sin,hour_cos,date_sin,date_cos,month_sin,month_cos,year,station_id,pm2_5,pm10,no2,co,so2,o3,temp_c,wind,humidity,AQI
0,0.965926,2.588190e-01,0.790776,-0.612106,0.866025,0.5,2025,0,74.349884,79.288000,48.6,913.0,29.600000,6.0,16.35,2.577208,73.974770,148
1,1.000000,6.123234e-17,0.790776,-0.612106,0.866025,0.5,2025,0,75.578953,80.520000,44.5,962.0,36.000000,14.0,17.30,3.545589,65.182610,152
2,0.965926,-2.588190e-01,0.790776,-0.612106,0.866025,0.5,2025,0,74.356785,78.672005,38.6,1019.0,44.800000,27.0,18.90,4.913044,57.017426,148
3,0.866025,-5.000000e-01,0.790776,-0.612106,0.866025,0.5,2025,0,63.027365,66.352000,33.0,999.0,52.000000,46.0,22.30,3.572898,46.393030,110
4,0.707107,-7.071068e-01,0.790776,-0.612106,0.866025,0.5,2025,0,48.305217,53.680000,28.0,828.0,56.600000,79.0,25.75,3.550155,36.347910,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35091,-0.500000,-8.660254e-01,0.790776,-0.612106,0.866025,0.5,2026,3,33.983185,40.870003,9.9,307.0,43.470000,151.0,29.85,7.040739,20.822416,175
35092,-0.707107,-7.071068e-01,0.790776,-0.612106,0.866025,0.5,2026,3,31.719274,39.162000,13.5,333.0,43.200000,143.0,29.65,7.841888,20.412912,163
35093,-0.866025,-5.000000e-01,0.790776,-0.612106,0.866025,0.5,2026,3,31.571666,38.918000,19.0,380.0,44.145000,132.0,28.80,9.178235,22.047096,147
35094,-0.965926,-2.588190e-01,0.790776,-0.612106,0.866025,0.5,2026,3,42.161110,48.800003,25.3,457.0,45.765003,118.0,26.65,8.938590,27.259382,126
35095,-1.000000,-1.836970e-16,0.790776,-0.612106,0.866025,0.5,2026,3,59.063044,65.514000,33.9,610.0,49.005000,101.0,24.75,7.093462,31.905504,101

In [ ]:
final_df.to_csv("durgapur_final.csv",index=False)